<section class="register-page">
  <div class="register-card">

    <div class="register-header">
      <div class="register-icon">🩺</div>

      <h1>Create Account</h1>
      <p>Create your ClinicCare patient account</p>
    </div>

    <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && register()">
      <div class="form-group">
        <label for="name">Full Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="name"
          placeholder="Enter your full name"
          required
        >
        <small class="error-message"
        *ngIf="registerForm.submitted && registerForm.controls['name']?.invalid">Full name required</small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
          required
        >
         <small class="error-message"
        *ngIf="registerForm.submitted && registerForm.controls['email']?.invalid">please enter a valid email address</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          minlength="6"
          placeholder="Create a password"
          required
        >
         <small class="error-message"
        *ngIf="registerForm.submitted && registerForm.controls['password']?.invalid">Password must be at least 6 characters</small>
      </div>

      <button type="submit" class="register-button">
        Create Account
      </button>
    </form>

    <p class="login-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </div>
</section>
